p{
    color: red;
}
.bg-color{
    background-color: black;
    padding: 2rem;

}
#box{
    width: 400px;
    height: 400px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
width: 200px;
height: 200px;
background-color: aqua;
display: flex;
justify-content: center;
align-items: center;
}
button{
    border: none;
    outline: none;
    padding: 10px;
    font-size: 1rem;
    background: black;
    color: white;
    border-radius: 1rem;
   
}
button:hover{
    background-color: #0000005b;
 
}